# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Numberlink-SAT4J-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
